# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/drinks_vehicles/node_modules
/drinks_vehicles/.pnp
/drinks_vehicles.pnp.js

# testing
/drinks_vehicles/coverage

# production
/drinks_vehicles/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
